HacheBBB/node_modules
HacheBBB/public/hot
HacheBBB/public/storage
HacheBBB/storage/*.key
HacheBBB/vendor
HacheBBB/.env
HacheBBB/.env.backup
HacheBBB/.phpunit.result.cache
HacheBBB/Homestead.json
HacheBBB/Homestead.yaml
HacheBBB/npm-debug.log
HacheBBB/yarn-error.log
HacheBBB/.idea
HacheBBB/.vscode
# Wave ignores.
HacheBBB/public/.well-known
HacheBBB/.vagrant
HacheBBB/wave-pro
HacheBBB/Homestead.json
HacheBBB/Homestead.yaml
HacheBBB/npm-debug.log
HacheBBB/yarn-error.log
HacheBBB/.DS_Store
HacheBBB/wave/vendor/
HacheBBB/public/wave/docs
HacheBackend/index.php